<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enable/Disable Nightmare</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.andermoran.nightmare</string>
			<key>key</key>
			<string>kEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>apply</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>Respring to apply changes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Hide sensitive information</string>
			<key>footerText</key>
			<string>Hides names and usernames in the chat feed and story feed. Useful when sending screenshots to me :)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.andermoran.nightmare</string>
			<key>key</key>
			<string>kHideInfo</string>
			<key>label</key>
			<string>Hide friend information</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Hidden stories (not working)</string>
			<key>footerText</key>
			<string>If a friend is selected then their story will be hidden from your story feed!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.andermoran.nightmare</string>
			<key>key</key>
			<string>kHiddenStoriesEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>id</key>
			<false/>
			<key>bundle</key>
			<string>FriendList</string>
			<key>internal</key>
			<false/>
			<key>isController</key>
			<string>true</string>
			<key>label</key>
			<string>Hide stories for friends</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Remember caption (not working)</string>
			<key>footerText</key>
			<string>Ever have the problem of getting a snapchat where someone says "Yeah that's so true!" but you forgot what you said? Well this solves that problem by showing you the last thing you said to someone on snapchat! To view what you last said just swipe right on someone's name and tap their name at the top of the screen.</string>
		</dict>
    	<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.andermoran.nightmare</string>
			<key>key</key>
			<string>kRememberCaptionEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Replace colors (not working)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.andermoran.nightmare</string>
			<key>key</key>
			<string>kReplaceSnapBlueColorEnabled</string>
			<key>label</key>
			<string>Replace light blue header color</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>cellClass</key>
            <string>PFColorCell</string>
            <key>label</key>
            <string>Replace the light blue color with...</string>
            <key>color_defaults</key>
            <string>com.andermoran.nightmare</string>
            <key>color_key</key>
            <string>kSnapBlueColorReplacement</string>
            <key>title</key>
            <string>Select a color</string>
            <key>color_fallback</key>
            <string>#10b6ec</string>
            <key>usesRGB</key>
            <true/>
            <key>usesAlpha</key>
            <true/>
            <key>color_postNotification</key>
            <string>com.andermoran.nightmare.settingschanged</string>
        </dict>
        <!--
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Temporary seperator</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.andermoran.nightmare</string>
			<key>key</key>
			<string>kReplaceSnapPurpleColorEnabled</string>
			<key>label</key>
			<string>Replace purple header color</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>cellClass</key>
            <string>PFColorCell</string>
            <key>label</key>
            <string>Replace the purple color with...</string>
            <key>color_defaults</key>
            <string>com.andermoran.nightmare</string>
            <key>color_key</key>
            <string>kSnapPurpleColorReplacement</string>
            <key>title</key>
            <string>Select a color</string>
            <key>color_fallback</key>
            <string>#10b6ec</string>
            <key>usesRGB</key>
            <true/>
            <key>usesAlpha</key>
            <true/>
            <key>color_postNotification</key>
            <string>com.andermoran.nightmare.settingschanged</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Temporary seperator</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.andermoran.nightmare</string>
			<key>key</key>
			<string>kReplaceSnapRedColorEnabled</string>
			<key>label</key>
			<string>Replace red header color</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>cellClass</key>
            <string>PFColorCell</string>
            <key>label</key>
            <string>Replace the red color with...</string>
            <key>color_defaults</key>
            <string>com.andermoran.nightmare</string>
            <key>color_key</key>
            <string>kSnapRedColorReplacement</string>
            <key>title</key>
            <string>Select a color</string>
            <key>color_fallback</key>
            <string>#10b6ec</string>
            <key>usesRGB</key>
            <true/>
            <key>usesAlpha</key>
            <true/>
            <key>color_postNotification</key>
            <string>com.andermoran.nightmare.settingschanged</string>
        </dict>
        -->
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Donation station</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>venmo</string>
			<key>icon</key>
			<string>venmo@2x.png</string>
			<key>label</key>
			<string>Help me buy an inflatable dart board</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Links</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>repo</string>
			<key>icon</key>
			<string>github@2x.png</string>
			<key>label</key>
			<string>Add my repo to Cydia</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>snapchat</string>
			<key>icon</key>
			<string>snapchat@2x.png</string>
			<key>label</key>
			<string>Add me on snapchat 👻</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>twitter</string>
			<key>icon</key>
			<string>twitter@2x.png</string>
			<key>label</key>
			<string>Follow me on Twitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>email</string>
			<key>icon</key>
			<string>email@2x.png</string>
			<key>label</key>
			<string>Email me</string>
		</dict>
	</array>
	<key>title</key>
	<string>Nightmare</string>
</dict>
</plist>
